/* Autor: Ibai Trueba Campo
Fecha: 27/06/2019
Descripción: Esta página convierte datos hexadecimales en decimales
V 1.0.0. */

header {
  padding: 1em;
  background-color: #3d3d5c;
  color: #fff;
  margin-top: 1em;
  text-align: center;
}

#caja {
  height: 300px;
  padding: 1em;
  background-color: #e0e0eb;
}

footer {
  background-color: #3d3d5c;
  color: #fff;
  text-align: center;
  font-size: 1em;
  margin-top: 1em;
}

#ventana {
  background-color: #b3b3cc;
  opacity: 0;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 400px;
  height: 0;
}

#rueda {
  color: #3d3d5c;
}

#contenedor {
  margin: 2em;
}